/*popover components*/
.has-popover {
    position: relative;
}

.my-popover {
    position: absolute;
    opacity: 1;
    z-index: 100;
    border-radius: 6px;
}

.my-popover.ng-hide-add, .my-popover.ng-hide-remove {
    transition: all ease 0s;
}

.my-popover.ng-hide-add-active, .my-popover.ng-hide-remove-active {
    transition: all ease 0.2s;
}

.my-popover.ng-hide-remove,
.my-popover.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.my-popover.ng-hide-add,
.my-popover.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}

.my-popover .close-btn {
    position: absolute;
    display: inline-block;
    right: 6px;
    top: 6px;
}

.my-popover.left {
    right: 100%;
    top: 0;
    min-width: 150px;
    margin-right: 8px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.my-popover.left .my-popover-arrow {
    top: 10px;
    right: -16px;
    border-width: 8px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25);
}

.my-popover.left .my-popover-arrow:after {
    content: " ";
    border-width: 7px;
    top: -7px;
    left: -8px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-right-width: 0;
    border-left-color: #fff;
}

.my-popover.right {
    left: 100%;
    top: 0;
    min-width: 150px;
    margin-left: 8px;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.my-popover.right .my-popover-arrow {
    top: 10px;
    left: -16px;
    border-width: 8px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
}

.my-popover.right .my-popover-arrow:after {
    content: " ";
    border-width: 7px;
    top: -7px;
    right: -8px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-left-width: 0;
    border-right-color: #fff;
}

/*In Place Confirm btn*/
.ipc-btn-container {
    position: relative;
}

.ipc-btn {
    transition:all ease 0.2s;
    opacity: 1;
}

.ipc-btn.transparent {
    opacity: 0;
}

.ipc-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ipc-confirm-text {
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
    text-align: center;
    line-height: 34px;
    font-size: 0.9em;
    background-color: #f7f7f7;
}

.ipc-confirm-btn {
    position: absolute;
    z-index: 1;
    top: 50%;
}

.ipc-confirm-btn .btn:first-child {
    border-top-left-radius: 0;
}

.ipc-confirm-btn .btn:last-child {
    border-top-right-radius: 0;
}

.ipc-btn-container {
    overflow: hidden;
}

.ipc-confirm-text.ng-hide-add, .ipc-confirm-text.ng-hide-remove {
    overflow: inherit;
    transition: all ease 0s;
}

.ipc-confirm-text.ng-hide-add-active, .ipc-confirm-text.ng-hide-remove-active {
    overflow: hidden;
    transition: all ease 0.2s;
}

.ipc-confirm-text.ng-hide-remove,
.ipc-confirm-text.ng-hide-add.ng-hide-add-active {
    height: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.ipc-confirm-text.ng-hide-add,
.ipc-confirm-text.ng-hide-remove.ng-hide-remove-active {
    height: 34px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.ipc-input.ng-hide-add, .ipc-input.ng-hide-remove {
    overflow: inherit;
    transition: all ease 0s;
}

.ipc-input.ng-hide-add-active, .ipc-input.ng-hide-remove-active {
    overflow: hidden;
    transition: all ease 0.2s;
}

.ipc-input.ng-hide-remove,
.ipc-input.ng-hide-add.ng-hide-add-active {
    height: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 0 12px;
}

.ipc-input.ng-hide-add,
.ipc-input.ng-hide-remove.ng-hide-remove-active {
    height: 34px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: 6px 12px;
}

.ipc-confirm-btn.ng-hide-add .btn, .ipc-confirm-btn.ng-hide-remove .btn{
    overflow: inherit;
    transition: all ease 0s;
}

.ipc-confirm-btn.ng-hide-add-active .btn, .ipc-confirm-btn.ng-hide-remove-active .btn {
    overflow: hidden;
    transition: all ease 0.2s;
}

.ipc-confirm-btn.ng-hide-add, .ipc-confirm-btn.ng-hide-remove{
    transition: all ease 0s;
}

.ipc-confirm-btn.ng-hide-add-active, .ipc-confirm-btn.ng-hide-remove-active {
    transition: all ease 0.2s;
}

.ipc-confirm-btn.ng-hide-remove,
.ipc-confirm-btn.ng-hide-add.ng-hide-add-active {
    top: 100%;
}

.ipc-confirm-btn.ng-hide-add,
.ipc-confirm-btn.ng-hide-remove.ng-hide-remove-active {
    top: 50%;
}